QWidget {
    border: none;
    border-radius: 2px;
    background-color: #28bfc9;
    color: white;
    font-size: 14px;
    font-weight: 600;
    max-width: 100px;
    min-width: 100px;
    height: 40px;
}
