QPushButton{
    border: none;
    font-size: 18px;
    color: white;
    min-width: 300px;
    max-width: 300px;
    text-align: left;
    padding-left: 15px;
}
QPushButton:hover{
    background-color: #28b3bd;
    color: white;
}
QToolTip{
    font-size: 10px;
    color: white;
    background-color: #28bfc9;
    border: none;
    border-radius: 0 5px;
}
