QWidget{
    custom-spacing: 5px;
    font-size: 20px;
    width: 100%;
    font-weight: 600px;
    background-color: #28bfc9;
    height: 45px;


}
QWidget #header{
    custom-geometry: 500x300+500 500;
    border-bottom: 1px solid #92D4D8;
    max-height: 45px;
}

QWidget #test{
    custom-margin: 600px 500 20px;
    border-bottom: 1px solid #92D4D8;
    max-height: 45px;
}
