QWidget{
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    background-color: #28bfc9;
    height: 45px;
}
QWidget #popup_header{
    border-bottom: 1px solid gray;
    max-height: 45px;
}
