QLineEdit{
    border: none;
    border-radius: 15px;
    background-color: #eeeff4;
    color: #28bfc9;
    font-size: 14px;
    font-weight: 400;
    max-width: 60px;
    min-width: 60px;
    max-height: 30px;
    text-align: center;
    padding-bottom: 4px;
    qproperty-alignment: AlignCenter;
}

QLineEdit:focus{
    border: 1px solid #28bfc9;
}
