QLineEdit{
    border: 1px solid black;
    border-radius: 2px;
    background-color: #28bfc9;
    color: white;
    font-size: 14px;
    font-weight: 600;
    max-width: 134px;
    min-width: 134px;
    max-height: 30px;
    qproperty-alignment: AlignRight;
}

QLineEdit:focus{
    background-color: red;
}
